<div class="relationship-container">
  <strong><%= I18n.t("relationship.link_description") %>:</strong>
  <% if @relationships.present? %>
    <ul>
      <% @relationships.each do |relationship| %>
        <li>
          <%= link_to "#{relationship.mentioning_report.title}",
          report_path(relationship.mentioning_report_id) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <br><%= I18n.t("relationship.no_relationship") %>
  <% end %>
</div>
