<div class="relationship-container">
  <strong><%= I18n.t("relationship.link_description") %>:</strong>
  <% if @mentions.present? %>
    <ul>
      <% @mentions.each do |mention| %>
        <li>
          <%= link_to "#{mention.mentioning_report.title}",
          report_path(mention.mentioning_report_id) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <br><%= I18n.t("relationship.no_relationship") %>
  <% end %>
</div>
