<h1><%= t('views.common.title_index', name: Report.model_name.human) %></h1>

<div id="reports" class="index-items">
  <% @reports.each do |report| %>
    <%= render report %>
  <% end %>
</div>

<%= paginate @reports %>

<%= link_to t('views.common.new', name: Report.model_name.human), new_report_path %>
