<header>
  <h1><%= link_to "Books App", books_path %></h1>
    <nav>
      <ul>
        <li><%= link_to current_user.email, edit_user_registration_path %></li>
        <li><%= link_to i18n_pluralize(User.model_name.human), users_path %></li>
        <li><%= link_to t('views.common.logout'), destroy_user_session_path, data: { "turbo-method": :delete } %></li>
      </ul>
  </nav>
</header>
